
@font-face {
  font-family: 'MonotypeCorsiva';
  src: url('MonotypeCorsiva.eot?#iefix') format('embedded-opentype'),  url('MonotypeCorsiva.woff') format('woff'), url('MonotypeCorsiva.ttf')  format('truetype'), url('MonotypeCorsiva.svg#MonotypeCorsiva') format('svg');
  font-weight: normal;
  font-style: normal;
}
